aiosqlite==0.20.0
asgiref==3.8.1
beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
Django==5.0.7
Flask==3.0.3
googlesearch-python==1.2.5
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mutagen==1.47.0
packaging==24.1
pygame==2.6.0
requests==2.32.3
selectolax==0.3.21
setuptools==71.0.3
soupsieve==2.5
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.3
wheel==0.43.0
